@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-Bold.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
}

@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: "MalagaNarrowOT";

  src: url("../assets/fonts/MalagaOTRegItalic.woff2") format("woff2"),
  url("../assets/fonts/MalagaOTRegItalic.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  min-width: 246px;
  padding: 18px 10px 18px 10px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: linear-gradient(to right, #646c92, #5f2f6a);
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(95, 47, 106, 0.25),
  0 7px 9px rgb(100, 115, 151, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);
}

.btn:hover {
  box-shadow: 0 0 5px 2px rgba(38, 28, 41, 0.6),
  0 7px 9px rgb(100, 115, 151, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);

  transition: box-shadow 0.2s;
}

.btn:active {
  box-shadow: 0 0 5px 2px rgba(38, 28, 41, 0.9),
  0 7px 9px rgb(100, 115, 151, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);

  transition: box-shadow 0.2s;
}


body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "TitilliumWeb", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.main-header {
  width: 78%;
  min-width: 768px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 78px;
}

.header-top {
  display: flex;
}

/* @media only screen and (max-width: 1200px) {
  .header-top {
    display: none;
  }
} */

.logo {
  margin: 0;

  font-weight: bold;
  font-size: 30px;
  color: #858688;
}

.logo span {
  color: #5b4295;
}

.main-nav ul,
.user-nav,
.lang-breadcrumbs,
.header-social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav {
  width: 433px;
  margin-right: 4.6%;
  margin-left: auto;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 8px 10px;
}

.nav-item a,
.user-nav a {
  font-size: 16px;
  color: #454545;
  text-decoration: none;
}

.nav-item a:hover {
  opacity: 0.7;

  transition: opacity 0.2s;
}

.nav-item a:active {
  opacity: 0.4;
}

.log-in {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.log-in a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-bottom: 5px;

  font-weight: bold;
}

.log-in a:hover {
  opacity: 0.7;

  transition: opacity 0.2s;
}

.log-in a:hover path {
  transition: fill 0.3s;

  fill: #fc2028;
}

.log-in a:active path {
  opacity: 0.4;
}

.log-in span {
  display: block;

  letter-spacing: 0.4px;
}

.log-in-icon {
  margin-right: 8px;
}

.log-in-icon path {
  fill: #582c7e;
}

.registration {
  flex-shrink: 0;
}

.registration a {
  display: block;
  padding: 9px 21px 13px;

  font-weight: bold;
  color: #ffffff;

  background: linear-gradient(to right bottom, #582c7e, #6379d0);
  border-radius: 30px;
  box-shadow: 0 7px 9px rgba(142, 117, 222, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);
}

.registration a:hover {
  box-shadow: 0 7px 9px rgba(142, 117, 222, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 0 5px 2px rgba(38, 28, 41, 0.61),
  0 3px 3px rgb(0, 0, 0, 0.17);

  transition: box-shadow 0.2s;
}

.registration a:active {
  box-shadow: 0 7px 9px rgba(142, 117, 222, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 0 5px 2px rgba(38, 28, 41, 1),
  0 3px 3px rgb(0, 0, 0, 0.17);

  transition: box-shadow 0.2s;
}

.lang-breadcrumbs {
  list-style: none;
}

.lang-item {
  position: relative;

  padding: 10px 16px 10px 11px;
}


.lang-breadcrumbs li:first-child {
  padding-left: 0;
}

.lang-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;

  display: block;
  width: 1px;
  height: 11px;

  background-color: #959595;
  transform: rotate(22deg);
}

.lang-breadcrumbs a {
  font-size: 14px;
  color: #959595;
  text-decoration: none;
}

.lang-breadcrumbs a:not(.lang-active):hover {
  opacity: 0.7;

  transition: opacity 0.1s;
}

.lang-breadcrumbs a:not(.lang-active):active {
  opacity: 0.4;
}

.lang-active {
  position: relative;

  font-weight: bold;

  cursor: auto;
}

.lang-active::before {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 1px;

  background-color: #bfc5d4;
}

.header-social {
  position: fixed;
  top: 322px;
  right: 1.8%;

  display: block;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-social li {
  width: 20px;
  height: 20px;
  margin-bottom: 18px;
}

.header-social a {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/icons/social-sprite.png");
  background-repeat: no-repeat;
}

.header-social a:hover {
  opacity: 0.7;
}

.header-social a:active {
  opacity: 0.4;
}

.social-google {
  background-position: 0 0;
}

.header-facebook {
  background-position: 0 -37px;
}

.header-twitter {
  background-position: 0 -75px;
}

.create-account {
  max-width: 1800px;
  min-height: 642px;
  margin: 0 auto;
  padding: 152px 0 0 0;

  text-align: center;

  background-image: url("../assets/images/mountains@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}


.create-account h2 {
  margin: 0 0 10px 0;

  font-weight: 600;
  font-size: 60px;
  color: #454545;
  letter-spacing: 0.6px;
}

.create-account p {
  margin: 0 0 73px 0;

  font-size: 36px;
  color: #454545;
  letter-spacing: 0.4px;
}

.create-account span {
  color: #fc2028;
}

.create-buttons {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  padding: 0 0 25px 110px;

  background-image: url("../assets/images/button-bg.png");
  background-repeat: no-repeat;
  background-position: -18px 19px;
}


.app-store,
.google-play {
  display: block;
  width: 46px;
  height: 46px;
  margin-left: 23px;

  background-color: #724b81;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.app-store {
  background-image: url("../assets/images/icons/app-store.png");
}

.google-play {
  background-image: url("../assets/images/icons/google-play.png");
}

.app-store:hover,
.google-play:hover {
  box-shadow: 0 0 4px 2px rgba(38, 28, 41, 0.6);

  transition: 0.1s;
}

.app-store:active,
.google-play:active {
  box-shadow: 0 0 4px 2px rgba(38, 28, 41, 1);
}

.features-container {
  width: auto;
  overflow: hidden;
}

.features {
  position: relative;

  display: grid;
  width: 91%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 114px 0 50px 0;

  grid-template-columns: 8.7% 28% 30.9% 1fr;
}

.feature-item {
  background-repeat: no-repeat;
}

.privacy {
  position: relative;

  padding: 0 8% 10px 0;

  background-image: url("../assets/images/privacy.png");
  background-position: -13px -7px;

  grid-column-start: 2;
}

.privacy::before {
  content: "";
  position: absolute;
  top: -130px;
  right: 0;

  display: block;
  width: 1px;
  height: 210px;

  background-color: #b9b9b9;
}

.encryption {
  padding: 0 10% 10px 10.4%;

  background-image: url("../assets/images/encryption.png");
  background-position: calc(10% - 17px) -15px;
  border-right: 1px solid #b9b9b9;
}

.anonymous {
  position: relative;

  padding: 0 7% 10px 11%;

  background-image: url("../assets/images/anonymous.png");
  background-position: calc(10% - 3px) -5px;
}

.anonymous::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 102%;

  display: block;
  width: 100vw;
  height: 1px;

  background-color: #b9b9b9;
}

.feature-item h3 {
  margin: 0 0 0 60px;

  font-weight: normal;
  font-size: 30px;
  color: #555555;
  letter-spacing: 0.4px;
}

.short-description {
  margin: 0 0 28px 60px;

  font-size: 18px;
  color: #959393;
  letter-spacing: 0.2px;
}

.description {
  margin: 0;

  font-size: 14px;
  line-height: 23px;
  color: #959393;
  letter-spacing: 0.16px;
}


.security {
  position: relative;

  padding: 105px 37px 56px 60px;

  text-align: right;

  border-right: 1px solid #b9b9b9;

  grid-column: 2 / 4;
}

.security::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  width: 100vw;
  height: 1px;

  background-color: #b9b9b9;
}

.security h3 {
  margin: 0 0 13px 0;

  font-weight: normal;
  font-size: 60px;
  color: #535353;
  letter-spacing: 0.6px;
}

.security-description {
  margin: 0 5px 0 0;

  font-size: 24px;
  line-height: 23px;
  color: #959393;
  letter-spacing: 0.2px;
}


.learn-more {
  position: absolute;
  bottom: 18px;
  left: calc(6% + 94% * 0.65 - 167px);
  z-index: 1;

  display: block;
  min-width: 334px;
  padding: 17px 20px 24px;

  font-size: 16px;
  text-align: center;
  color: #676767;
  text-decoration: none;
  letter-spacing: 0.3px;

  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 30px;
}

.learn-more:hover {
  color: #ffffff;

  background-color: #676767;

  transition: color 0.2s, background-color 0.1s;
}

.learn-more:active {
  background-color: #333232;
}

.testimonials {
  max-width: 1800px;
  margin: 0 auto;
  padding: 141px 0 65px 0;

  background-image: url("../assets/images/testimonials.png");
  background-repeat: no-repeat;
  background-position: 22px 21px;
}

.slider {
  display: flex;
  width: 78%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 36% 0 7.7%;

  font-family: "MalagaNarrowOT", serif;
  color: #101010;
}

.slider-text {
  margin: 0;
}

.slider-text p {
  margin: 0 0 10px 0;

  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.slider-text cite {
  font-size: 16px;
  color: #727272;
}

.toggles {
  padding: 5px 12px 15px 11px;
}

.slider-btn {
  width: 13px;
  height: 13px;
  margin: 6px 15px 0 15px;

  background-color: #b7b7b7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn:hover {
  background-color: #9b9696;
}

.slider-active {
  background-color: #101010;
}

.devices-container {
  position: relative;

  width: auto;
  margin-bottom: 49px;
}

.devices-container::after {
  content: "";
  position: absolute;
  top: -250px;
  left: 0;
  z-index: -10;

  display: block;
  width: 100%;
  height: 1100px;

  background: linear-gradient(-6.5deg, transparent 0%, transparent 74.5%, #ffffff 74.5%, #ffffff 100%),
  linear-gradient(15deg, #ffffff 0%, #ffffff 30%, #eeeeee 120%);
}

.devices-container::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;

  display: block;
  width: 50%;
  height: 1px;

  background-color: #b9b9b9;
}

.devices {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 78%;
  max-width: 1400px;
  min-height: 418px;
  margin: 0 auto;
  padding: 48px 491px 20px 10px;

  text-align: right;
}

.devices::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;

  display: block;
  width: 85.7%;
  height: 1px;

  background-color: #b9b9b9;
}

.devices h2 {
  margin: 0 0 15px 0;

  font-size: 36px;
  color: #535353;
  letter-spacing: -0.2px;
}

.devices p {
  align-self: flex-end;
  max-width: 440px;
  margin: 0 0 30px 0;

  font-size: 16px;
  line-height: 22px;
  color: #959393;
  letter-spacing: 0.25px;
}

.devices-image {
  position: absolute;
  right: 70px;
  bottom: -17px;
  z-index: -1;
}

.apps-wrapper a {
  display: inline-block;
  margin-left: 10px;

  background-color: transparent;
}

.apps-wrapper img {
  border-radius: 6px;
}

.apps-wrapper a:hover img {
  box-shadow: 0 0 5px 2px rgba(38, 28, 41, 0.6);

  transition: box-shadow 0.1s;
}

.apps-wrapper a:active img {
  box-shadow: 0 0 5px 2px rgba(38, 28, 41, 1);
}

.pay {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 74px;
  padding: 20px 10px 10px 10px;

  text-align: center;
}

.pay-title {
  margin: 0;

  font-size: 36px;
  line-height: 44px;
  color: #535353;
  letter-spacing: 0.3px;
}

.pay-text {
  margin: 0 0 40px 0;

  font-size: 29px;
  color: #7c7c7c;
  letter-spacing: 0.2px;
}

.paid-btn {
  margin: 0 45px 0 0;

  letter-spacing: 0.4px;
}

.paid-icon {
  margin-right: 3px;
}

.donate-btn {
  min-width: 166px;

  letter-spacing: 0.3px;

  background: linear-gradient(to right bottom, #35bce0, #5e7bea);
}


.donate-icon {
  margin: 0 4px -2px 5px;
}

.sponsors {
  position: relative;

  margin-bottom: 156px;
  padding: 20px 0 20px 0;
}

.sponsors::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: calc(50% + 500px);
  height: 1px;

  background-color: #b9b9b9;
}

.sponsors::after {
  content: "";
  position: absolute;
  top: 0;
  right: calc(50% - 500px);

  display: block;
  width: 1px;
  height: 440px;

  background-color: #b9b9b9;
}

.sponsors-title {
  width: 1000px;
  margin: 0 auto 20px;
  padding-right: 23px;

  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: #7a7a7a;
}

.sponsors-list {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  margin: 0 auto;
  padding: 0 23px 0 110px;

  list-style: none;
}

.sponsors-list li {
  display: flex;
}

.sponsors-list a {
  display: flex;
  align-items: center;
}

.sponsor-radware {
  margin-right: 58px;
}

.sponsor-cyberkov {
  margin-right: 54px;
}

.sponsor-qouvadis {
  margin-right: 58px;
}

.sponsor-fongit {
  margin-right: 26px;
}

.sponsor-deltalis {
  margin-right: 53px;
}

.sponsor-ventury {
  margin-right: 66px;
}

.sponsors-list li:hover {
  box-shadow: 0 3px 50px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.sponsors-list li:active {
  box-shadow: 0 3px 50px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.main-footer {
  width: 78%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  overflow: hidden;

  color: #5c5c5c;
}

.main-footer h3 {
  margin: 0 0 30px 0;

  font-size: 18px;
}

.main-footer a {
  color: inherit;
  text-decoration: none;
}

.footer-top {
  display: flex;
  margin-bottom: 63px;
  padding-right: calc(50% - 500px);
}

.footer-top ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-top li {
  margin-bottom: 7px;

  font-size: 14px;
}

.footer-top a:hover {
  text-decoration: underline;
}

.footer-top a:active {
  color: #a1a1a1;
}

.contacts {
  position: relative;

  width: 250px;
  margin-bottom: auto;
  padding-left: 21px;

  border-left: 1px solid #b9b9b9;
}

.address,
.contacts-text {
  margin: 0 0 7px 0;

  font-size: 14px;
  line-height: 16px;
}

.contacts-text {
  margin-bottom: 5px;
}

.address:nth-of-type(3) {
  margin-bottom: 30px;
}

.contacts a {
  position: relative;

  font-weight: bold;
  font-size: 14px;
}

.support-contacts {
  position: relative;
}

a.support-contacts:hover {
  text-decoration: none;
}

.support-contacts span::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 2px;

  background-color: #d6d6d6;
}

.support-contacts:hover ::before {
  background-color: #8d8d8d;
}

.support-contacts:active span {
  color: #a1a1a1;
}

.footer-bottom {
  font-size: 12px;
}

.company,
.legal {
  width: 200px;
  padding: 0 30px 0 10px;

  text-align: right;
}

.company span,
.legal span,
.neutronmail span {
  margin-left: 5px;
}

.company {
  position: relative;

  width: 150px;
  margin-left: auto;
  padding-right: 27px;
}

.company::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 1px;
  height: 100vh;

  background-color: #b9b9b9;
}

.legal {
  margin-left: 55px;
}

.neutronmail {
  width: 197px;
  padding: 0 25px 0 7px;

  text-align: right;
}

.footer-social {
  display: flex;
  margin: 0 0 8px 0;
  padding: 0;

  list-style: none;
}

.footer-social-item {
  position: relative;

  padding: 10px 16px 10px 14px;
}

.footer-social-item:first-child {
  padding-left: 3px;
}

.footer-social-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 1px;

  display: block;
  width: 1px;
  height: 10px;

  background-color: #959595;
  transform: rotate(22deg);
}

.footer-social-item a {
  position: relative;
}

.footer-social-item a:active {
  opacity: 0.6;
}

.footer-social-item span::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 1px;

  background-color: #d6d6d6;
}

.footer-social-item a:hover ::before {
  background-color: #636262;
}

.copyright {
  margin: 0;

  letter-spacing: 0.2px;
}
