@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-Bold.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "TitilliumWeb";

  font-display: swap;
  src: url("../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
  url("../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  min-width: 246px;
  padding: 18px 10px 18px 10px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background: linear-gradient(to right, #646c92, #5f2f6a);
  border-radius: 30px;
  box-shadow: 0 0 4px 2px rgb(95, 47, 106, 0.25),
  0 7px 9px rgb(100, 115, 151, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);
}

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "TitilliumWeb", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

/* header */

.main-header {
  width: 78%;
  min-width: 768px;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 78px;
}

.header-top {
  display: flex;
}

.logo {
  margin: 0;

  font-weight: bold;
  font-size: 30px;
  color: #858688;
}

.logo span {
  color: #5b4295;
}

.main-nav ul,
.user-nav,
.lang-breadcrumbs,
.header-social {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav {
  width: 433px;
  margin-right: 4.6%;
  margin-left: auto;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 8px 10px;
}

.nav-item a,
.user-nav a {
  font-size: 16px;
  color: #454545;
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a:focus {
  text-shadow: 1px 1px 2px #6e599e;
}

.log-in {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

.log-in a {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-bottom: 5px;

  font-weight: bold;
}

.log-in span {
  display: block;

  letter-spacing: 0.4px;
}

.log-in-icon {
  margin-right: 8px;
}

.log-in-icon path {
  fill: #582c7e;
}


.registration a {
  display: block;
  padding: 9px 21px 13px;

  font-weight: bold;
  color: #ffffff;
}

.registration {
  flex-shrink: 0;

  background: linear-gradient(to right bottom, #582c7e, #6379d0);
  border-radius: 30px;
  box-shadow: 0 7px 9px rgba(142, 117, 222, 0.15),
  0 13px 21px rgb(20, 80, 204, 0.27),
  0 13px 21px rgb(0, 0, 0, 0.15),
  0 4px 16px rgb(102, 145, 233, 0.33),
  0 4px 16px rgb(0, 0, 0, 0.09),
  0 3px 9px rgb(53, 103, 205, 0.09),
  0 3px 9px rgb(0, 0, 0, 0.09),
  0 3px 3px rgb(102, 145, 233, 0.09),
  0 3px 3px rgb(0, 0, 0, 0.17);
}

.lang-breadcrumbs {
  list-style: none;
}

.lang-item {
  position: relative;

  padding: 10px 16px 10px 11px;
  /* letter-spacing: 0.8px; */
}


.lang-breadcrumbs li:first-child {
  padding-left: 0;
  /* letter-spacing: 0.7px; */
}

.lang-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;

  display: block;
  width: 1px;
  height: 11px;

  background-color: #959595;
  transform: rotate(22deg);
}

.lang-breadcrumbs a {
  font-size: 14px;
  color: #959595;
  text-decoration: none;
}

.lang-active {
  position: relative;

  font-weight: bold;
}

.lang-active::before {
  content: "";
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 1px;

  background-color: #bfc5d4;
}

.header-social {
  position: fixed;
  top: 322px;
  right: 2%;

  display: block;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-social li {
  width: 20px;
  height: 20px;
  margin-bottom: 18px;
}

.header-social a {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/icons/social-sprite.png");
  background-repeat: no-repeat;
}

.social-google {
  background-position: 0 0;
}

.header-facebook {
  background-position: 0 -37px;
}

.header-twitter {
  background-position: 0 -75px;
}

.create-account {
  max-width: 1800px;
  min-height: 642px;
  margin: 0 auto;
  padding: 152px 0 0 0;

  text-align: center;

  background-image: url("../assets/images/mountains@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}


.create-account h2 {
  margin: 0 0 10px 0;

  font-weight: 600;
  font-size: 60px;
  color: #454545;
  letter-spacing: 0.6px;
}

.create-account p {
  margin: 0 0 73px 0;

  font-size: 36px;
  color: #454545;
  letter-spacing: 0.4px;
}

.create-account span {
  color: #fc2028;
}

.create-buttons {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  padding: 0 0 25px 110px;

  background-image: url("../assets/images/button-bg.png");
  background-repeat: no-repeat;
  background-position: -18px 19px;
}


.app-store,
.google-play {
  display: block;
  width: 46px;
  height: 46px;
  margin-left: 23px;

  background-color: #724b81;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.app-store {
  background-image: url("../assets/images/icons/app-store.png");
}

.google-play {
  background-image: url("../assets/images/icons/google-play.png");
}

.features {
  position: relative;

  display: grid;
  width: 91%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5.6% 0 50px 6%;

  grid-template-columns: 30.8% 33.8% 1fr;
}

.feature-item {
  background-repeat: no-repeat;
}

.privacy {
  position: relative;
  padding: 0 8% 10px 0;

  background-image: url("../assets/images/privacy.png");
  background-position: -13px -7px;
}

.privacy::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  right: 0;
  top: -130px;
  height: 210px;
  background-color: #b9b9b9;
}

.encryption {
  padding: 0 10% 10px 10%;

  background-image: url("../assets/images/encryption.png");
  background-position: 17px -15px;
  border-right: 1px solid #b9b9b9;
}

.anonymous {
  position: relative;
  padding: 0 7% 10px 11%;

  background-image: url("../assets/images/anonymous.png");
  background-position: 34px -5px;
}

.anonymous::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  left: 102%;
  top: 4px;
  height: 1px;
  background-color: #b9b9b9;
}

.feature-item h3 {
  margin: 0 0 0 60px;

  font-weight: normal;
  font-size: 30px;
  color: #555555;
  letter-spacing: 0.4px;
}

.short-description {
  margin: 0 0 28px 60px;

  font-size: 18px;
  color: #959393;
}

.description {
  margin: 0;

  font-size: 14px;
  line-height: 23px;
  color: #959393;
  letter-spacing: 0.16px;
}


.security {
  position: relative;
  padding: 105px 37px 56px 60px;

  text-align: right;

  border-right: 1px solid #b9b9b9;

  grid-column: 1 / 3;
}

.security::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #b9b9b9;
}

.security h3 {
  margin: 0 0 13px 0;

  font-size: 60px;
  color: #535353;
}

.security-description {
  margin: 0 5px 0 0;

  font-size: 24px;
  line-height: 23px;
  color: #959393;
  letter-spacing: 0.3px;
}


.learn-more {
  z-index: 1;
  position: absolute;
  bottom: 18px;
  left: calc(6% + 94% * 0.65 - 167px);

  display: block;
  min-width: 334px;
  padding: 17px 20px 24px;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
  color: #676767;
  text-decoration: none;
  letter-spacing: 0.3px;

  border: 1px solid #b9b9b9;
  border-radius: 30px;
}
